.hero {
    color: var(--color-muted-title);
    padding: 100px 0;
    text-align: center;
    background-image: linear-gradient(rgba(11, 27, 54, 0.7), rgba(11, 27, 54, 0.9)), url(../../assets/hero-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accent {
    color: var(--color-muted-accent);
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero__text {
    font-size: 1.2rem;
}

.btn-hero {
    background-color: var(--color-white);
    color: var(--color-title);
}

.btn-hero:hover {
    background-color: var(--color-accent);
    transform: translateY(-2px);
}