body {
    background-color: var(--color-admin);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1000px;
}

h1,
h2 {
    color: var(--color-title);
}

#loginScreen {
    background: var(--color-white);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 100px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: inherit;
    box-sizing: border-box;
}

.btn {
    background-color: var(--color-muted-accent);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.btn:hover {
    background-color: var(--color-accent);
}

#dashboardScreen {
    display: none;
    width: 100%;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
}

.logout-btn {
    background: #e74c3c;
    width: auto;
}

.table-container {
    background: var(--color-white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding: 15px;
    border-bottom: 2px solid var(--color-divider);
}

th {
    background-color: var(--color-admin-table);
    font-weight: 600;
    color: var(--color-blue);
}

tr:hover {
    background-color: var(--color-admin);
}